@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

body{
    width: 1519px;
}

*{
    margin: 0;
    font-family: 'Open Sans', sans-serif;;
}
/* header banner style */

.header{
    background-image:url('../img/intro/img5.jpg');
    background-repeat: no-repeat;
    height: 100vh;
    margin-bottom: 50px;
}
.banner{
    display: flex;
    margin: 300px 200px;
}
.banner h1{
    margin-right: 20px;
    font-size: 55px;
    color: orangered;
}
.btn-price{
    font-weight: 400;
    font-size: 20px;
    color:whitesmoke;
    text-align: center;
    vertical-align: middle;
    background-color: rgb(54, 55, 55);
    border: 1px solid orangered;
    border-radius: 10px;
    padding: 10px 20px;
}
/* nav bar style */
nav{
    display: flex;
    justify-content: space-between;
    background-color: rgb(54, 55, 55);
    color: whitesmoke;
    padding: 10px;
    
}
.nav-title{
    font-size: 35px;
}
nav ul{
    display: flex;
    align-items: center;
}
nav li{
    list-style: none;
    padding-right: 10px;
    font-size: 20px;
}

/* services style */

.section-title{
    text-align: center;
    font-size: 45px;
    color: rgb(54, 55, 55);
    padding: 20px;
}

.section-description{
    text-align: center;
    font-size: 25px;
    margin-bottom: 40px;
    color: black;
}

/* service styles */

.service-container{
    display: flex;
    width: 80%;
    justify-content: space-between;
    margin-left: 100px;
    margin-bottom: 50px;
}

.service-sub-title{
    margin-top: 30px;
    font-size: 20px;
}

.service-title{
    margin-top: 30px;
    font-size: 30px;
    color: rgb(199, 52, 52);
}

.service-description{
    margin-top: 30px;
    font-size: 20px;
}

.service{
    margin-right: 10px;
    border: 1px solid black;
    padding: 20px;
    background-color: rgba(203, 190, 190, 0.5);
    margin-bottom: 30px;
    border-radius: 10px;
}

.service-section{
    background-color:whitesmoke;
    margin-bottom: 50px;
}

.service-img{
    width: 400px;
}

/* about section */

.about-section{
    background-color:whitesmoke;
    margin-bottom: 50px;
}

.about-container{
    display: flex;
    justify-content: space-between;
}

.about-image{
   width: 400px;
   margin: 50px 200px;
}

.about{
    margin-top: 100px;
    margin-right: 200px;
}

.about-title{
    font-size: 30px;
}

.about-description{
    font-size: 20px;
    margin-top: 10px;
}

.professional{
    margin-top: 100px;
    margin-left: 200px;
}

/* amenities style */

i{
    font-size: 50px;
}

.amenities-section{
    background-color: olivedrab;
    margin-bottom: 50px;
}

.amenities{
    margin-right: 10px;
    border: 1px solid black;
    padding: 20px;
    background-color: rgba(203, 190, 190, 0.5);
    margin-bottom: 30px;
    border-radius: 10px;
    text-align: center;
}
/* gallery styles */
.image-container{
    display: flex;
    padding: 5px;
    margin-left: 15px;
}

.gallery-section{
    background-color:whitesmoke;
    margin-bottom: 50px;
    text-align: center;
}
.gallery-img{
    width: 350px;
    padding: 10px;
    margin-bottom: 20px;
}
/* offer style */

.offer-section{
    display: flex;
    justify-content: space-around;
    background-color: olivedrab;
    margin-bottom: 50px;
}

.offer-title{
    text-align: center;
    font-size: 45px;
    color: rgb(199, 52, 52);
    padding: 20px;
}

.offer-description{
    text-align: center;
    font-weight: 800;
    font-size: 25px;
    margin-bottom: 40px;
    color: rgb(199, 52, 52);
    margin-top: 30px;
}
.btn-subscribe{
    font-weight: 400;
    font-size: 20px;
    color:whitesmoke;
    text-align: center;
    vertical-align: middle;
    background-color: rgb(54, 55, 55);
    border: 1px solid orangered;
    border-radius: 30px;
    margin: 20px;
    padding: 5px 20px;
}

/* team style */

.team-container{
    display: flex;
    width: 80%;
    justify-content: space-between;
    margin-left: 60px;
    margin-bottom: 50px;
}

.team{
    margin-right: 10px;
    border: 1px solid black;
    padding: 20px;
    background-color: rgba(203, 190, 190, 0.5);
    margin-bottom: 30px;
    border-radius: 10px;
}

.team-img{
    width: 300px;
}

/* price & schedule style */

table{
    text-align: center;
    margin-left: 280px;
    font-size: 20px;
    padding-bottom: 50px;
}
th{
    border: 1px solid black;
}
td{
    padding: 20px 50px;
    text-align: center;
    border: 1px solid black;
}
/* contact style */
form{
    margin-left: 500px;
    font-size: 20px;
}
label{
    font-size: 30px;
    margin: 10px;
    padding: 10px;
}
input{
    font-size: 20px;
    width: 400px;
    margin: 10px;
}
.btn-message{
    font-weight: 400;
    font-size: 20px;
    color:whitesmoke;
    text-align: center;
    vertical-align: middle;
    background-color: rgb(54, 55, 55);
    border: 1px solid orangered;
    border-radius: 30px;
    margin: 20px 150px;
    padding: 5px 20px;
}

.map{
    margin-left: 500px;
    padding-bottom: 30px;
}
/* footer style */

footer{
    background-color: rgb(97, 97, 172);
    display: flex;
    justify-content: space-between;
}

.footer-title{
    font-size: 20px;
    color: black;
    margin-top: 10px;
    margin-left: 20px;
}

a{
    padding-right: 10px;
    text-decoration: none;
    color: black;
}